.title {
    color:#ff1a1a;
}

.queens {
    background:#cc0000;
}

.umbrella {
    color:#DEB887;
}
.umbrella {
    background:#FF7F50;
}

img {width: 200px;}

.block {
    color:#8B008B;
}
.block {
    background:#6495ED;
}
   
